<div class = "robot-status">
    <div class="car-image-div">
        <img class="car-image" src="../static/img/autonomous-car.png" alt="Autonomous car image">
    </div>
    <div class="status-card">
        <h1 class="robot-name">QUILLAMOTORS</h1>
        <p class="robot-activity-status">Active</p>
        <p class="time-status">Tiempo activo:</p>
        
        <div class="robot-parameters-status">
            <p class="battery-status">Bateria restante</p>
            <p class="velocity-status">Velocidad</p>
            <p class="distance-status">Distancia recorrida</p>
        </div>

    </div>
    
</div>